* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1f1f1;
}

header {
    width: 100%;
    height: 50px;

}

main {
    width: 100%;
    height: 90vh;

    display: flex;
    justify-content: space-between;
}

section {
    width: 40%;
    height: 100%;

    display: inline-block;
}

.seccion1 {
    width: 70%;
    
}
.area::placeholder{
    color: #0A3871;
}
.titulo{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color:#0A3871;
  
}
.area {
    width: 70%;
    height: 70%;
    display: block;
    margin: auto;
    margin-top: 25px;
    resize: none;
    font-size: 25px;
    color: #0A3871;
    border: #0A3871 solid thin;
    outline:none;
    background-color: #f1f1f1;
    text-align: center;
    
}

.anotacion {
    font-size: larger;
}

.botones {
    text-align: center;
}

.parrafo img,
.parrafo p {
    display: inline-block;
}

.btn-encriptar {
    background-color: #0A3871;
    color: #ffffff;
    font-size: larger;
}

.btn-encriptar:hover {
    background-color: darkblue;
    animation-timing-function: ease-out;
    animation-duration: 300ms;
}

.btn-desencriptar {
    background-color: #D8DFE8;
    color: #0A3871;
    font-size: larger;
    border: #0A3871 solid 1px;
}

.btn-desencriptar:hover {
    background-color: azure;
    animation-timing-function: ease-out;
    animation-duration: 300ms;
}

.btn-encriptar,
.btn-desencriptar,
.btn-limpiar {
    width: 150px;
    height: 30%;  
    padding: 24px;
    border-radius: 24px;
    gap: 8px;
}
.limpiar{
    text-align: center;
}
.btn-limpiar{
   font-size: larger;
   color: blue;
    background-color: aqua;
    border-color: #0A3871;
    
}
.btn-limpiar:hover {
    background-color: aquamarine;
    animation-timing-function: ease-out;
    animation-duration: 300ms;
}

.seccion2 {  
    background-color: #ffffff;
    width: 30%; 
    border-radius: 32px;
    height: 80%;
    box-sizing: border-box;
    overflow: hidden; 
    margin-right: 30px;
}
.seccion2:hover{
    box-shadow: 0 5px 35px 0px rgba(0,0,0,.2);   
}

.contenedor-munieco {
    width: 100%;
    height: 60%;
    padding-top: 12em;
    box-sizing: border-box;
    overflow: hidden;
  
}

.contenedor-h3 {
    width: 100%;
    height: 10%;
    text-align: center;
}

.contenedor-parrafo {
    width: 100%;
    height: 50%;
    text-align: center;
}

.contenedor-resultado {
    width: 80%;
    height: 85%;
    padding: 25px;
    box-sizing: border-box;
}

.copiar {
    text-align: center;

}

.btn-copiar {

    width: 150PX;
    height: 70px;
    top: 107px;
    left: 24px;
    padding: 24px;
    border-radius: 24px;
    gap: 8px;
    background-color: #D8DFE8;
    color: #0A3871;
    font-size: larger;
    border: #0A3871 solid 1px;

}

.btn-copiar:hover {
    background-color: azure;
    animation-timing-function: ease-out;
    animation-duration: 300ms;
}


footer {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    text-align: center;
}

.ocultar {
    display: none;
}